// style
.why-us {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap30);
    max-width: rem(940);
    margin: 0 auto;

    > * {
      width: calc(100% / 3 - var(--gap30));

      @media (width <= 900px) {
        width: calc(100% / 2 - var(--gap30));
      }

      @media (width <= 600px) {
        width: 100%;
      }
    }
  }
}
