// style
.cases-block {
  &__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: var(--gap30);
    grid-auto-rows: minmax(#{rem(382)}, 1fr);
  }

  &__item {
    &:nth-child(5n + 1) {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}