// style
.news-detail {
  &__info {
    position: relative;
    max-width: rem(584);
    margin: rem(-180) 0 rem(100);
    color: #fff;

    @media (width <= 900px) {
      margin: rem(-180) auto rem(48);
    }
  }

  &__info-wrapper {
    display: flex;
    min-height: rem(64);
  }

  &__views {
    @include base14;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: rem(7);
    padding: 0 rem(14);
    color: #CDCDCD;
    background-color: var(--palette-primary);
    border-top-left-radius: var(--bdrs8)
  }

  &__date {
    @include heading5;

    display: flex;
    align-items: center;
    padding: 0 rem(32);
    background-color: var(--palette-secondary);
    border-top-right-radius: var(--bdrs8)
  }

  &__title {
    @include heading4;

    padding: rem(24);
    background-color: var(--palette-primary);
    border-radius: 0 var(--bdrs8) var(--bdrs8) var(--bdrs8);
    background-image: url('../assets/images/graphics/news-detail.svg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;

    @media (width <= 600px) {
      background-image: url('../assets/images/graphics/news-detail-mobile.svg');
      font-size: rem(24);
    }
  }

  &__text-block {
    max-width: rem(1095);
    margin: 0 auto rem(88);

    @media (width <= 600px) {
      margin: 0 auto rem(32);
    }

    > p {
      @include heading5;

      color: var(--palette-primary);

      &:not(:last-child) {
        margin-bottom: rem(30);
      }

      @media (width <= 900px) {
        @include sub24;
      }
    }

    img {
      margin: rem(146) auto 0;
      aspect-ratio: 174 / 107;
      object-fit: cover;

      @media (width <= 900px) {
        margin: rem(48) auto 0;
      }

      @media (width <= 600px) {
        margin: rem(32) auto 0;
        height: rem(531);
        object-position: left center;
      }
    }
  }

  &__more {
    display: flex;
    justify-content: flex-end;
    margin-bottom: rem(100);
    column-gap: rem(30);
    padding: 0;
    color: var(--palette-primary);

    @media (width <= 600px) {
      font-size: rem(20);
    }
  }
}