// style
.transparent-work {
  &__item {
    display: flex;
    flex-direction: column;
    row-gap: rem(24);
    align-items: center;
    padding: rem(16) rem(24);

    &-img {
      height: rem(102);
    }

    &-text {
      @include sub20;

      color: var(--palette-primary);
      text-align: center;
    }
  }
}