.two-column-grid {
  --number-cols: 2;

  display: grid;
  grid-template-columns: repeat(var(--number-cols), minmax(0, 1fr));
  gap: var(--gap30);

  @media (width <= 900px) {
    --number-cols: 1;
  }
}

.three-column-grid {
  --number-cols: 3;

  display: grid;
  grid-template-columns: repeat(var(--number-cols), minmax(0, 1fr));
  gap: var(--gap30);

  @media (width <= 1200px) {
    --number-cols: 2;
  }
}

.four-column-grid {
  --number-cols: 4;

  display: grid;
  grid-template-columns: repeat(var(--number-cols), minmax(0, 1fr));
  gap: var(--gap30);

  @media (width <= 1200px) {
    --number-cols: 3;
  }

  @media (width <= 900px) {
    --number-cols: 2;
  }

  @media (width <= 600px) {
    --number-cols: 1;
  }
}
