.section {
  $this: &;

  --section-header-offset-bottom: #{rem(48)};
  --section-header-offset-left: #{rem(83)};

  padding-bottom: var(--section-offset-bottom);

  &--inner {
    padding-top: rem(48);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(20);
    padding-left: var(--section-header-offset-left);
    padding-bottom: var(--section-header-offset-bottom);
  }

  &__title {
    @include heading2;

    color: var(--palette-primary);

    &-link {
      display: flex;
      justify-content: flex-start;
      column-gap: rem(32);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(48);
  }

  &__more {
    min-width: rem(306);
    margin-top: rem(28);
  }
}