// style
.news-block {
  &__form-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: rem(45) rem(32);
    background-color: #F5ECE3;
    border-radius: var(--bdrs16);
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-title {
      @include heading5;

      margin-bottom: rem(25);
      color: var(--palette-primary);
    }

    &-input {
      @include base14;

      padding: rem(23) rem(16);
      width: 100%;
      margin-bottom: rem(32);
      color: var(--palette-primary);
      border: rem(1) solid var(--palette-primary);
      border-radius: var(--bdrs4);

      &::placeholder {
        color: currentColor;
      }
    }
  }
}