// style
.achievements {
  min-height: rem(498);
  padding: rem(71) 0 rem(83);
  margin-bottom: var(--section-offset-bottom);
  background-image: url('../assets/images/graphics/achievements.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;

  &__title {
    color: #fff;
  }
}
