// style
.achievements {
  min-height: rem(498);
  padding: rem(71) 0 rem(83);
  margin-bottom: var(--section-offset-bottom);
  background-image: url('../assets/images/graphics/achievements.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;

  @media (width <= 600px) {
    min-height: rem(346);
    padding: rem(32) 0 rem(60);
    background-image: url('../assets/images/graphics/achievements-mobile.svg');
    background-color: var(--palette-primary);
  }

  &__title {
    color: #fff;
  }

  &__slider-wrapper {
    position: relative;
  }

  &__button {
    position: absolute;
    bottom: rem(-55);
    z-index: 1;

    &--prev {
      left: rem(10);
    }

    &--next {
      right: rem(10);
    }
  }
}
