// style
.contacts {
  &__wrapper {
    @media (width <= 600px) {
      width: calc(100% + var(--container-padding) * 2);
      margin-left: calc(var(--container-padding) * -1);
    }
  }

  &__map {
    height: rem(756);
    width: 100%;

    @media (width <= 900px) {
      height: rem(400);
    }

    @media (width <= 600px) {
      height: rem(300);
    }
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: var(--gap30);
    padding: rem(32);
    color: #fff;
    background-color: var(--palette-primary);
    border-radius: var(--bdrs16) var(--bdrs16) 0 0;
    background-image: url('../assets/images/graphics/contacts.svg');
    background-repeat: no-repeat;
    background-position: center center;

    @media (width <= 900px) {
      padding: rem(16);
    }

    @media (width <= 600px) {
      display: block;
      background-size: cover;
      background-image: none;

      > * {
        &:not(:last-child) {
          margin-bottom: rem(40);
        }
      }
    }
  }

  &__section {
    display: grid;
    row-gap: rem(32);

    @media (width <= 900px) {
      row-gap: rem(20);
    }

    &--1 {
      grid-column: span 5;
      padding-left: rem(51);

      @media (width <= 1200px) {
        padding-left: 0;
      }
    }

    &--2 {
      grid-column: span 3;
    }

    &--3 {
      grid-column: span 4;
    }

    &-title {
      @include sub24;

      margin-bottom: rem(16);

      @media (width <= 900px) {
        font-size: rem(20);
      }
    }

    &-text,
    &-phone {
      @include sub18;

      @media (width <= 900px) {
        font-size: rem(16);
      }
    }
  }
}