// style
.implementation {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: var(--gap30);

    @media (width <= 1200px) {
      display: block;
    }
  }

  &__cards {
    display: grid;
    gap: rem(20);
    grid-column: 10 / -1;

    @media (width <= 1400px) {
      grid-column: 9 / -1;
    }

    @media (width <= 1200px) {
      grid-auto-flow: column;
    }

    @media (width <= 767px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-auto-flow: unset;

      > * {
        &:last-child {
          grid-column: span 2;
        }
      }
    }

    @media (width <= 600px) {
      gap: rem(16);
    }
  }

  &__advantage-card {
    padding-left: rem(50);
    padding-right: rem(50);

    @media (width <= 1200px) {
      padding-left: rem(24);
      padding-right: rem(24);
    }

    @media (width <= 767px) {
      text-align: center;
    }

    @media (width <= 600px) {
      padding: rem(16);
    }

    &-num {
      font-size: rem(90);

      @media (width <= 1200px) {
        font-size: rem(64);
      }

      @media (width <= 900px) {
        font-size: rem(64);
      }

      @media (width <= 374px) {
        font-size: rem(40);
      }
    }

    &-text {
      @include sub24;

      @media (width <= 600px) {
        font-size: rem(16);
      }

      @media (width <= 374px) {
        font-size: rem(14);
      }
    }
  }

  &__accordion {
    display: flex;
    flex-direction: column;
    row-gap: rem(50);
    grid-column: span 8;

    @media (width <= 1200px) {
      margin-bottom: rem(48);
    }
  }
}