// style
.case-card {
  $this: &;

  position: relative;
  height: 100%;
  // min-height: rem(382);
  min-height: rem(300);
  color: #fff;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: var(--bdrs16);

  &::before {
    @include overlay;
  }

  &--big {
    border-radius: var(--bdrs32);

    @media (width <= 600px) {
      border-radius: var(--bdrs16);
    }

    &::before {
      border-radius: inherit;
    }

    #{$this} {
      &__content {
        padding: rem(40);

        @media (width <= 900px) {
          padding: rem(24);
        }
      }

      &__tags {
        @include sub24;

        margin-bottom: rem(32);

        @media (width <= 900px) {
          margin-bottom: rem(24);
          font-size: rem(16);
        }
      }

      &__title {
        @include heading5;

        @media (width <= 900px) {
          @include sub24;
        }
      }
    }
  }

  &--date {
    #{$this}__title {
      margin-bottom: rem(8);
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: inherit;
    min-height: inherit;
    padding: rem(24);
  }

  &__tags {
    margin-bottom: rem(24);
  }

  &__title {
    @include sub24;

    margin-bottom: rem(20);
  }

  &__link {
    &::before {
      @include link-entire-area;
    }
  }

  &__bottom-block {
    margin-top: auto;
    margin-left: auto;
  }

  &__date {
    @include base14;
  }
}
