// style
.confidence {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(60) rem(90);
  }

  &__img {
    max-width: rem(319);
    max-height: rem(115);
    object-fit: cover;
    opacity: 0.5;
    filter: grayscale(1);
    transition-property: filter, opacity;
    transition-duration: var(--transition300ms);

    @include hover {
      opacity: unset;
      filter: unset;
    }
  }
}