// style
.advantage-card {
  display: flex;
  flex-direction: column;
  padding: rem(24);
  color: #fff;
  background-color: var(--palette-primary);
  background-repeat: no-repeat;
  background-position: left bottom;
  border-radius: var(--bdrs8);

  @media (width <= 900px) {
    padding: rem(16);
  }

  &--secondary {
    background-color: var(--palette-secondary);
  }

  &--graphic-1 {
    background-image: url('../assets/images/graphics/about-1.svg');
  }

  &--graphic-2 {
    background-image: url('../assets/images/graphics/about-2.svg');
    background-size: cover;
  }

  &--graphic-3 {
    background-image: url('../assets/images/graphics/about-3.svg');
  }

  &--graphic-4 {
    background-image: url('../assets/images/graphics/about-4.svg');
    background-size: cover;
  }

  &--graphic-5 {
    background-image: url('../assets/images/graphics/about-5.svg');
    background-position: right bottom;
  }

  &--graphic-6 {
    background-image: url('../assets/images/graphics/about-6.svg');
  }

  &__num {
    @include heading2;

    @media (width <= 1400px) {
      font-size: rem(40);
    }

    @media (width <= 900px) {
      font-size: rem(30);
    }
  }

  &__sub-num {
    @include font(12, 13.2, 400);

    margin-bottom: rem(24);
  }

  &__text {
    @include base14;

    @media (width <= 900px) {
      font-size: rem(12);
    }

    // margin-top: auto;
  }
}
