// style
.header {
  $this: &;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
  color: var(--palette-primary);
  transition: box-shadow var(--transition300ms);

  &[sticky] {
    box-shadow: 0 rem(2) rem(5) rgb(0 0 0 / 10%);
  }

  @media (width <= 1200px) {
    &.open {
      #{$this}__burger {
        &-icon {
          &--close {
            display: block;
          }

          &--menu {
            display: none;
          }
        }
      }

      #{$this}__menu {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
    padding: rem(26) rem(28) rem(26) var(--container-padding);

    @media (width <= 1200px) {
      padding: rem(16) var(--container-padding);
    }
  }

  &__logo {
    margin-right: rem(26);
  }

  &__list {
    display: flex;

    @media (width <= 1200px) {
      flex-direction: column;
    }
  }

  &__link {
    padding: rem(12) rem(25);

    @media (width <= 1200px) {
      justify-content: flex-start;
      width: 100%;
      padding: rem(16) var(--container-padding);
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;

    @media (width <= 1200px) {
      position: fixed;
      inset: var(--header-height) 0 0 0;
      z-index: 10;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      overflow-y: auto;
      opacity: 0;
      visibility: hidden;
      transition: opacity var(--transition300ms);
    }
  }

  &__wrapper {
    display: none;
    align-items: center;
    column-gap: rem(32);
    margin-left: auto;

    @media (width <= 1200px) {
      display: flex;
    }
  }

  &__callback-btn {
    @media (width <= 1200px) {
      margin: 0 rem(16) rem(16);
      width: fit-content;
    }
  }

  &__burger {
    &-icon {
      &--close {
        display: none;
      }
    }
  }
}
