// style
.header {
  position: relative;
  z-index: 1;
  background-color: #fff;
  color: var(--palette-primary);

  &__container {
    display: flex;
    align-items: center;
    padding: rem(26) var(--container-padding);
  }

  &__logo {
    margin-right: rem(26);
  }

  &__list {
    display: flex;
  }

  &__link {
    padding: rem(12) rem(25);
  }

  &__callback-btn {
    // padding:  rem(12) rem(32);
    margin-left: auto;

    // letter-spacing: rem(0.48);
  }
}