// style
.header {
  position: relative;
  z-index: 1;
  background-color: #fff;
  color: var(--palette-primary);

  &__container {
    display: flex;
    align-items: center;
    padding: rem(26) var(--container-padding);

    @media (width <= 1024px) {
      padding: rem(16) var(--container-padding);
    }
  }

  &__logo {
    margin-right: rem(26);
  }

  &__list {
    display: flex;
  }

  &__link {
    padding: rem(12) rem(25);
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;

    @media (width <= 1024px) {
      display: none;
    }
  }

  &__wrapper {
    display: none;
    align-items: center;
    column-gap: rem(32);
    margin-left: auto;

    @media (width <= 1024px) {
      display: flex;
    }
  }
}