:root {
  // palette
  --palette-primary: #350587;
  --palette-gray: #BFBFBF;
  --palette-secondary: #9A86C0;

  // containers
  --container-width: #{rem(1440)};
  --container-padding: #{rem(60)};

  // transitions
  --transition300ms: 0.3s;

  // fonts
  --font-primary: 'GothamPro', sans-serif;

  // border-radius
  --bdrs64: #{rem(64)};
  --bdrs32: #{rem(32)};
  --bdrs16: #{rem(16)};
  --bdrs12: #{rem(12)};
  --bdrs8: #{rem(8)};
  --bdrs4: #{rem(4)};

  // gap
  --gap30: #{rem(30)};

  // others
  --header-height: #{rem(103)};
  --section-offset-y: #{rem(150)};
}
