:root {
  // palette
  --palette-primary: #350587;
  --palette-secondary: #9A86C0;
  --palette-gray: #BFBFBF;

  // containers
  --container-width: #{rem(1440)};
  --container-padding: #{rem(60)};

  // transitions
  --transition300ms: 0.3s;

  // fonts
  --font-primary: 'GothamPro', sans-serif;

  // border-radius
  --bdrs64: #{rem(64)};
  --bdrs48: #{rem(48)};
  --bdrs32: #{rem(32)};
  --bdrs16: #{rem(16)};
  --bdrs12: #{rem(12)};
  --bdrs8: #{rem(8)};
  --bdrs4: #{rem(4)};

  // gap
  --gap30: #{rem(30)};

  // others
  --header-height: #{rem(103)};
  --section-offset-bottom: #{rem(150)};

  @media (width <= 1200px) {
    --container-padding: #{rem(40)};
  }

  @media (width <= 900px) {
    --section-offset-bottom: #{rem(60)};
  }

  @media (width <= 600px) {
    --container-padding: #{rem(16)};
  }
}
