// style
.cookie-dialog {
  --width: #{rem(1000)};
  --sl-spacing-2x-large: 2.25rem;
  --sl-panel-background-color: #fff;
  --sl-overlay-background-color: rgba(0 0 0 / 20%);
  --sl-z-index-dialog: 100;

  color: var(--palette-primary);

  &:not(:defined) {
    display: none;
  }

  // &::part(body) {
  //   overflow-y: auto;
  //   overflow-x: hidden;
  // }

  &__title {
    @include heading5;

    margin-bottom: rem(30);
    padding-right: rem(60);
  }

  &__wrapper {
    position: relative;
    padding: rem(60) rem(20) rem(40) rem(50);

    @media (width <= 767px) {
      padding: rem(20);
    }
  }

  &__close {
    position: absolute;
    top: rem(10);
    right: rem(10);

    @media (width <= 600px) {
      > svg {
        width: rem(30);
        height: rem(30);
      }
    }
  }

  &__content {
    height: rem(650);
    overflow: auto;
    scrollbar-color: var(--palette-primary) #DADBFE;
    scrollbar-width: thin;
  }

  &__content-inner {
    max-width: rem(730);
  }
}