// style
.what-we-do-offer {
  &__slider-wrapper {
    display: flex;
    margin-bottom: rem(56);

    @media (width <= 900px) {
      margin-bottom: rem(48);
    }

    @media (width <= 600px) {
      width: calc(100% + var(--container-padding));
    }
  }

  &__slider {
    width: calc(100% - 320px);
    margin-right: 0;
    margin-left: 0;
    counter-reset: slider;

    @media (width <= 767px) {
      width: 100%;
    }

    &-controls {
      @media (width <= 600px) {
        display: none;
      }
    }

    &-buttons {
      display: flex;
      flex: 1 0 auto;

      @media (width <= 767px) {
        display: none;
      }
    }

    &-button {
      width: 50%;
      background-color: var(--palette-primary);

      &--prev {
        rotate: 180deg;
      }
    }
  }

  &__slide {
    height: auto;
    padding: rem(10) rem(10) rem(25);
    color: var(--palette-primary);

    &--primary {
      background-color: var(--palette-primary);
    }

    &--secondary {
      background-color: var(--palette-secondary);
    }

    &--primary,
    &--secondary {
      color: #fff;
    }

    &-title {
      @media (width <= 600px) {
        font-size: rem(12);
      }

      &::before {
        @include sub18;

        display: block;
        margin-bottom: rem(24);
        counter-increment: slider;
        content: counter(slider, decimal-leading-zero);

        @media (width <= 600px) {
          margin-bottom: rem(16);
        }
      }
    }
  }

  &__content {
    display: grid;
    row-gap: rem(36);
    color: var(--palette-primary);

    @media (width <= 900px) {
      row-gap: rem(24);
    }

    &-title {
      @include heading5;
    }

    &-text {
      @include sub20;

      max-width: rem(1000);

      > p {
        &:not(:last-child) {
          margin-bottom: rem(24);
        }
      }
    }

    &-button {
      justify-self: end;
    }
  }
}
