// style
.footer {
  padding: rem(22) 0;
  background-color: var(--palette-primary);
  color: #fff;
  background-image: url('../assets/images/graphics/footer.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (width <= 1024px) {
    background-image: url('../assets/images/graphics/footer-tablet.svg');
  }

  @media (width <= 600px) {
    background-image: url('../assets/images/graphics/footer-mobile.svg');
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr rem(533);
    grid-template-areas:
      'socials form'
      'address form'
      'info form';
    align-items: center;
    gap: rem(54);

    @media (width <= 1024px) {
      grid-template-columns: 1fr;
      grid-template-areas:
        'form'
        'socials'
        'address'
        'info';
      row-gap: rem(35);
    }
  }

  &__socials {
    grid-area: socials;
  }

  &__address {
    grid-area: address;

    &-town {
      @include sub18;

      margin-bottom: rem(18);
    }

    &-others {
      @include base12;
    }

    &-mail {
      text-decoration: underline;
    }
  }

  &__info {
    @include base12;

    grid-area: info;
    display: flex;
    flex-wrap: wrap;
    gap: rem(12) rem(44);
    color: var(--palette-gray);

    @media (width <= 600px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__form {
    display: grid;
    gap: rem(30) rem(50);
    grid-area: form;
    align-items: center;
    max-width: rem(533);

    &-text {
      @include sub24;

      grid-column: span 2;

      @media (width <= 600px) {
        grid-column: unset;
      }
    }

    &-input {
      color: #fff;
      border-bottom-color: currentColor;

      &::placeholder {
        color: currentColor;
      }

      @media (width <= 600px) {
        max-width: rem(288);
      }
    }

    &-btn {
      @media (width <= 600px) {
        max-width: rem(239);
      }
    }
  }
}