// style
.company-hero {
  margin-bottom: var(--section-offset-bottom);
  color: #fff;
  background-color: #5F3BFF;
  background-image: url('../assets/images/graphics/hero.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &__wrapper {
    display: flex;
    gap: var(--gap30);
    padding-top: rem(173);
    padding-bottom: rem(165);

    @media (width <= 1200px) {
      justify-content: space-between;
    }

    @media (width <= 900px) {
      padding-top: rem(158);
      padding-bottom: rem(134);
    }

    @media (width <= 767px) {
      display: block;
    }

    @media (width <= 600px) {
      padding-top: rem(65);
      padding-bottom: rem(65);
    }
  }

  &__tags {
    padding-top: rem(20);
    margin-bottom: 0;
  }

  &__title {
    @include heading1;

    margin-bottom: rem(56);

    @media (width <= 767px) {
      margin-bottom: rem(32);
    }
  }

  &__text {
    @include heading6;

    @media (width <= 900px) {
      font-size: rem(20);
    }

    > p {
      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }
  }

  &__content {
    width: 42%;

    @media (width <= 767px) {
      width: 100%;
      margin-bottom: rem(32);
    }
  }

  &__advantages {
    width: 53%;

    @media (width <= 767px) {
      width: 100%;
    }
  }
}
