// style
.certificate-card {
  $this: &;

  display: grid;
  position: relative;
  border: rem(1) solid var(--palette-gray);
  border-radius: var(--bdrs12);
  background: #fff;
  overflow: hidden;

  @include hover {
    #{$this}__text {
      transform: translateY(100%);
    }
  }

  &__image-wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &__image {
    width: 100%;
    height: 100%;
    aspect-ratio: 307 / 262;
    object-fit: cover;
    border-radius: var(--bdrs12);
  }

  &__text {
    @include sub24;

    color: var(--palette-primary);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-top: auto;
    padding: rem(14) rem(24);
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
    background-color: inherit;
    transition: transform var(--transition300ms);

    @media (width <= 600px) {
      padding: rem(11) rem(16);
      font-size: rem(16);
    }
  }
}
