// style
.news {
  padding-top: rem(42);
  padding-bottom: rem(72);

  &__title {
    margin-bottom: rem(32);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(48);
  }

  &__more {
    min-width: rem(306);
    margin-top: rem(28);
  }
}
