@mixin custom-scrollbar($size: rem(10), $track-color: transparent, $thumb-color: #c1c1c1, $border-radius: rem(10)) {
  scrollbar-color: $thumb-color $track-color; // The first applies to the thumb of the scrollbar, the second to the track.
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-track {
    background-color: $track-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    border-radius: $border-radius;
  }
}

//  ===== Usage =====

// @include custom-scrollbar;
// @include custom-scrollbar(rem(20), transparent, black, 0);
