// style
.callback {
  &__form {
    max-width: rem(921);
    padding-left: var(--section-header-offset-left);
  }

  &__inputs {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: rem(30);
    margin-bottom: rem(43);

    @media (width <= 900px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (width <= 600px) {
      grid-template-columns: 1fr;
    }
  }

  &__textarea {
    grid-column: 3 / 4;
    grid-row: 1 / span 2;

    @media (width <= 900px) {
      grid-column: span 2;
      grid-row: unset;
    }

    @media (width <= 600px) {
      grid-column: unset;
    }
  }

  &__checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: rem(8);
    margin-bottom: rem(24);
  }

  &__checkbox-mailing {
    margin-bottom: rem(36);

    @media (width <= 600px) {
      margin-bottom: rem(24);
    }
  }

  &__button {
    min-width: rem(260);

    @media (width <= 600px) {
      width: 100%;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(12) rem(36);

    &-text {
      @include base12;

      max-width: rem(314);
      color: var(--palette-primary);
    }
  }
}
