.relevant-news {
  @media (width <= 900px) {
    overflow: hidden;
  }

  &__slider {
    @media (width <= 900px) {
      width: calc(100% + var(--container-padding));
    }
  }

  &__slide {
    height: auto;

    > * {
      height: 100%;
    }
  }
}
