// style
.advantages {
  $this: &;

  --number-cols: 3;

  display: grid;
  grid-template-columns: repeat(var(--number-cols), minmax(0, 1fr));
  gap: rem(30);
  grid-auto-rows: minmax(rem(120), max-content);

  @media (width <= 1400px) {
    gap: rem(16);
  }

  @media (width <= 1200px) {
    --number-cols: 2;
  }

  &__card {
    &--1 {
      translate: 0 rem(104);

      @media (width <= 1200px) {
        translate: 0 rem(54);
      }

      @media (width <= 600px) {
        translate: 0 rem(13);
      }
    }

    &--3 {
      grid-column: 2 / span 1;

      @media (width <= 1200px) {
        grid-column: unset;
        translate: 0 rem(54);
      }

      @media (width <= 600px) {
        translate: 0 rem(13);
      }
    }

    &--4 {
      grid-column: 3 / span 1;
      grid-row: 1 / span 1;
      translate: 0 rem(46);

      @media (width <= 1200px) {
        grid-column: unset;
        grid-row: unset;
        translate: 0;
      }
    }
  }
}