// style
.advantages {
  $this: &;

  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: rem(30);

  &__column {
    &--center {
      display: flex;
      flex-direction: column;
      row-gap: rem(30);
    }

    &--left {
      margin-top: rem(104);
    }

    &--right {
      margin-top: rem(46);
    }
  }
}