// style
.slider-controls {
  $this: &;

  display: flex;
  flex-direction: column;
  row-gap: rem(16);

  &--secondary {
    #{$this}__pagination {
      --swiper-pagination-color: var(--palette-primary);

      > * {
        &:not(.swiper-pagination-bullet-active) {
          border: rem(1) solid currentColor;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    column-gap: rem(28);
  }

  &__pagination {
    --swiper-pagination-color: #fff;
    --swiper-pagination-bullet-inactive-color: transparent;
    --swiper-pagination-bullet-inactive-opacity: 0.5;

    display: flex;
    justify-content: center;

    > * {
      flex-shrink: 0;

      &:not(.swiper-pagination-bullet-active) {
        border: rem(1) solid #fff;
      }
    }
  }
}
