// style
.created-content {
  $this: &;

  @media (width <= 900px) {
    --section-offset-bottom: #{rem(90)}
  }

  &__nav {
    margin-bottom: rem(32);

    @media (width <= 992px) {
      margin-bottom: rem(64);
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: rem(20);

    @media (width <= 1200px) {
      justify-content: unset;
    }
  }

  &__button {
    min-height: rem(47);
    padding: 0 rem(16);
    border: rem(2) solid transparent;

    @include hover {
      border-color: var(--palette-primary);
    }

    > span {
      margin-left: rem(8);
      color: var(--palette-primary);
    }

    &[aria-pressed='true'] {
      color: var(--palette-primary);
      border-color: currentColor;
    }

    &[aria-pressed='false'] {
      color: var(--palette-secondary);
    }
  }

  &__cards {
    @media (width <= 600px) {
      --number-cols: 1;
    }
  }

  &__card {
    @include hover {
      #{$this}__card-text {
        background-color: #5912d1;
      }
    }

    &-link {
      position: relative;
      display: block;
      width: 100%;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 207 / 191;
      border-radius: var(--bdrs16) var(--bdrs16) var(--bdrs16) var(--bdrs32);
    }

    &-text {
      @include sub24;

      position: absolute;
      bottom: rem(4);
      left: rem(4);
      display: inline-flex;
      align-items: center;
      padding-right: rem(32);
      background-color: var(--palette-primary);
      border-radius: var(--bdrs48);
      color: #fff;
      transition: background-color var(--transition300ms);

      @media (width <= 900px) {
        left: rem(8);
        bottom: rem(8);
        font-size: rem(16);
      }

      // @media (width <= 600px) {
      //   font-size: rem(16);
      // }

      > svg {
        margin-right: rem(10);

        @media (width <= 900px) {
          width: rem(40);
          height: rem(40);
        }
      }
    }
  }

  &__slider-wrapper {
    position: relative;
    animation: opacity var(--transition600ms);

    @keyframes opacity {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }

  &__slider {
    &-buttons {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      display: flex;

      @media (width <= 992px) {
        bottom: rem(-80);
      }
    }

    &-button {
      min-width: rem(98);
      min-height: rem(98);
      background-color: var(--palette-primary);

      &--prev {
        background-color: #AE9BCF;
      }

      @media (width <= 1400px) {
        min-width: rem(70);
        min-height: rem(70);

        > svg {
          width: rem(40);
          height: rem(40);
        }
      }
    }

    &-close {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;

      @media (width <= 1400px) {
        > svg {
          width: rem(40);
          height: rem(40);
        }
      }

      @media (width <= 992px) {
        top: rem(-50);
      }
    }

    &-icon {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: rem(66);
      min-height: rem(66);
      border-radius: 50%;
      background-color: var(--palette-primary);

      @media (width <= 992px) {
        top: rem(10);
        left: rem(10);
      }
    }

    &-pagination-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      column-gap: rem(14);

      @media (width <= 1400px) {
        column-gap: rem(7);
      }

      @media (width <= 992px) {
        bottom: rem(-25);
      }
    }

    &-pagination {
      &.swiper-pagination-progressbar {
        --swiper-pagination-progressbar-size: #{rem(2)};
        --swiper-pagination-progressbar-bg-color: var(--palette-secondary);
        --swiper-pagination-color: var(--palette-primary);

        width: rem(170);
        position: relative;

        @media (width <= 1400px) {
          width: rem(100);
        }

        @media (width <= 600px) {
          width: rem(80);
        }
      }
    }

    &-num {
      color: var(--palette-primary);

      &--total {
        color: var(--palette-secondary);
      }
    }
  }

  &__slide {
    display: flex;
    justify-content: center;

    &-media {
      width: rem(798);
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: rem(16);

      @media (width <= 1200px) {
        width: rem(622);
      }

      @media (width <= 992px) {
        width: 100%;
      }
    }
  }
}
