// style
.task-card {
  padding: rem(24);
  height: 100%;
  color: #fff;
  background-color: var(--palette-primary);
  border-radius: var(--bdrs8);

  @media (width <= 600px) {
    padding: rem(24) rem(16);
  }

  &__title {
    @include sub20;
  }
}
