// style
.hero {
  $this: &;

  overflow-x: hidden;

  &__wrapper {
    width: calc(100% + var(--container-padding));
    display: grid;
    grid-template-columns: 45% 53%;
    column-gap: rem(40);

    @media (width <= 1400px) {
      align-items: center;
    }

    @media (width <= 1200px) {
      column-gap: rem(20);
    }

    @media (width <= 767px) {
      width: calc(100% + var(--container-padding) * 2);
      margin-left: calc(var(--container-padding) * -1);
      grid-template-columns: minmax(0, 1fr);
    }
  }

  &__slider {
    width: 100%;

    @at-root #{$this} {
      &__slider-wrapper {
        position: relative;
      }
    }
  }

  &__content {
    margin-top: rem(127);
    color: var(--palette-primary);

    @media (width <= 1400px) {
      margin-top: 0;
    }

    @media (width <= 1200px) {
      margin-top: rem(64);
      margin-bottom: rem(64);
    }

    @media (width <= 767px) {
      margin: rem(40) rem(16);
    }
  }

  &__title {
    @include heading1;

    margin-bottom: rem(56);

    @media (width <= 1200px) {
      margin-bottom: rem(32);
    }
  }

  &__text {
    @include heading5;

    margin-bottom: rem(64);

    > p {
      &:not(:last-child) {
        margin-bottom: rem(32);

        @media (width <= 1200px) {
          margin-bottom: rem(16);
        }
      }
    }

    @media (width <= 1200px) {
      margin-bottom: rem(32);
      font-size: rem(20);
    }

    @media (width <= 900px) {
      font-size: rem(20);
    }
  }

  &__download-button {
    @media (width <= 900px) {
      font-size: rem(16);
    }
  }

  &__img-wrapper {
    position: relative;
    margin-top: calc(var(--header-height) * -1);

    > picture {
      height: 100%;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    aspect-ratio: 705 / 1022;
    object-fit: cover;
  }

  &__img-text {
    @include font(32);

    position: absolute;
    top: 0;
    left: 0;
    padding: rem(32) rem(18);
    margin: rem(210) rem(60) 0;
    color: #fff;
    background: linear-gradient(95deg, #8080da 0%, #9797ef 100%);
    backdrop-filter: blur(200px);

    @media (width <= 1200px) {
      font-size: rem(20);
    }

    @media (width <= 900px) {
      margin: rem(82) 0 0;
      width: 100%;
    }
  }

  &__controls {
    position: absolute;
    bottom: rem(24);
    right: rem(60);
    z-index: 1;

    @media (width <= 600px) {
      right: unset;
      left: 50%;
      translate: -50% 0;

      .slider-controls {
        &__buttons {
          display: none;
        }
      }
    }
  }
}
