// style
.hero {
  &__container {
    position: relative;
  }

  &__slider {
    width: calc(100% + var(--container-padding));

    @media (width <= 767px) {
      width: calc(100% + var(--container-padding) * 2);
      margin-left: calc(var(--container-padding) * -1);
    }
  }

  &__slide {
    display: grid;
    grid-template-columns: 45% 53%;
    column-gap: rem(40);

    @media (width <= 1200px) {
      column-gap: rem(20);
    }

    @media (width <= 767px) {
      grid-template-columns: 1fr;

      &::after {
        position: absolute;
        inset: 0;
        background-image: linear-gradient(180deg, #fff 0%, #350587 0.01%, rgba(53 5 135 / 0%) 100%);
        content: '';
      }
    }
  }

  &__content {
    margin-top: rem(127);
    color: var(--palette-primary);

    @media (width <= 1200px) {
      margin-top: rem(64);
      margin-bottom: rem(64);
    }

    @media (width <= 767px) {
      position: relative;
      z-index: 1;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      margin: rem(81) rem(16) rem(137);
      color: #fff;
    }
  }

  &__title {
    @include heading1;

    margin-bottom: rem(56);

    @media (width <= 1200px) {
      margin-bottom: rem(32);
    }
  }

  &__text {
    @include heading5;

    margin-bottom: rem(64);

    > p {
      &:not(:last-child) {
        margin-bottom: rem(32);

        @media (width <= 1200px) {
          margin-bottom: rem(16);
        }
      }
    }

    @media (width <= 1200px) {
      margin-bottom: rem(32);
      font-size: rem(20);
    }

    @media (width <= 900px) {
      font-size: rem(20);
    }
  }

  &__img-wrapper {
    position: relative;
    margin-top: calc(var(--header-height) * -1);

    > picture {
      height: 100%;
    }

    @media (width <= 767px) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    aspect-ratio: 705 / 1022;
    object-fit: cover;
  }

  &__img-text {
    @include font(32);

    position: absolute;
    top: 0;
    left: 0;
    padding: rem(32) rem(18);
    margin: rem(210) rem(60) 0;
    color: #fff;
    background: linear-gradient(95deg, #8080da 0%, #9797ef 100%);
    backdrop-filter: blur(200px);

    @media (width <= 1200px) {
      font-size: rem(20);
    }

    @media (width <= 900px) {
      margin: rem(130) 0 0;
    }

    @media (width <= 767px) {
      display: none;
    }
  }

  &__controls {
    position: relative;
    z-index: 1;
    max-width: rem(124);
    margin-left: auto;
    margin-top: rem(-96);

    @media (width <= 600px) {
      max-width: unset;
      margin-left: unset;
      margin-top: rem(-38);

      .slider-controls {
        &__buttons {
          display: none;
        }
      }
    }
  }

  &__download-button {
    @media (width <= 900px) {
      font-size: rem(16);
    }

    @media (width <= 600px) {
      color: var(--palette-primary);
      background-color: #fff;
    }
  }
}
