// style
.details {
  color: var(--palette-primary);

  &:not(:defined) {
    display: none;
  }

  &::part(base) {
    border: none;
  }

  &::part(header) {
    padding: 0;
  }

  &::part(summary) {
    @include heading5;
  }

  &::part(content) {
    @include sub20;

    padding: 0;
  }
}
