// style
.service-card {
  $this: &;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding: rem(24);
  color: #fff;
  border-radius: var(--bdrs16);
  background-color: var(--palette-primary);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media (width <= 900px) {
    padding: rem(16);
  }

  &--big {
    padding: rem(36) rem(24);

    #{$this}__title {
      @include heading3;
    }

    #{$this}__text {
      @include sub18;

      @media (width <= 900px) {
        @include base14;
      }
    }
  }

  &--1 {
    background-image: url('../assets/images/graphics/service-01.svg');
  }

  &--2 {
    background-image: url('../assets/images/graphics/service-02.svg');
  }

  &--3,
  &--4 {
    background-image: url('../assets/images/graphics/service-03.svg');
  }

  &--5 {
    background-image: url('../assets/images/graphics/service-05.svg');
  }

  &--6 {
    background-image: url('../assets/images/graphics/service-06.svg');
  }

  &--7 {
    background-image: url('../assets/images/graphics/service-07.svg');
  }

  &--8 {
    background-image: url('../assets/images/graphics/service-08.svg');
  }

  &--9 {
    background-image: url('../assets/images/graphics/service-09.svg');
  }

  &--10 {
    background-image: url('../assets/images/graphics/service-10.svg');
  }

  &__icon {
    margin-bottom: rem(24);

    @media (width <= 900px) {
      display: none;
    }
  }

  &__title {
    @include heading5;

    margin-bottom: rem(47);

    @media (width <= 900px) {
      margin-bottom: rem(38);
    }
  }

  &__text {
    @include base14;

    margin-bottom: rem(24);

    @media (width <= 900px) {
      margin-bottom: rem(16);
    }

    > ul {
      margin-top: rem(24);
      padding-left: rem(24);
      list-style: disc;
    }
  }

  &__link {
    margin-top: auto;
  }
}